#container{
    padding-top: 60px;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    padding: 0; /* ヘッダー内の余白を削除 */
  }

  .header {
    background-color: black;
    list-style: none; /* ナビゲーションリストのマーカーを非表示 */
    padding: 0; /* ナビゲーションリスト内の余白を削除 */
    margin: 0; /* ナビゲーションリスト外の余白を削除 */
    display: flex; /* リスト項目を横並びに */
    justify-content: space-around; /* リスト項目を中央に配置 */
    align-items: center;
    width: 100%;
    height: 50px;
  }
  
  .header a {
    color: white; /* リンクテキストを白色に設定 */
    text-decoration: none; /* 下線を非表示 */
    font-weight: bold; /* テキストを太字に設定 */
    font-size: 15px; /* フォントサイズを調整 */
    padding: 10px 15px; /* リンク周囲に余白を追加 */
    border-radius: 5px; /* リンクを角丸にする */
    transition: background-color 0.3s ease; /* 背景色の変化をスムーズに */
  }
  
  .header a:hover {
    background-color: #555; /* リンクをホバー時に暗めの背景色に変更 */
  }

  .header a.mypage {
    color: red; /* マイページリンクの文字色を赤にする */
  }


  #footer {
    background-color: #e6e6e6;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .footer-nav {
    margin-top: 10px;
  }
  
  .footer-nav a {
    color: rgb(6, 5, 5);
    text-decoration: none;
    margin: 0 10px;
    opacity: 0.7;
    transition: opacity 0.3s;
  }
  
  .footer-nav a:hover {
    opacity: 1;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  