/* 共通設定 */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* 背景グラデーション */
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #333;
  margin-top: 50px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); /* タイトルに影 */
}





/* ゲームリスト */
.game-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 常に5列 */
  gap: 20px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 20px;
}

.game-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.game-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.game-image {
  width: 120%; 
  max-height: 150px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-left: -10%;
}

.game-item a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

.game-item a:hover {
  color: #007bff;
}

/* 認証ボタン */
.auth-buttons {
  margin: 30px 0;
}

.auth-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.auth-button:hover {
  background-color: #555;
}

/* アカウント名 */
.account-name {
  background-color: #4285F4;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
}

/* アカウントコンテナとドロップダウンメニュー */
.account-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  z-index: 10;
}

.nickname-input input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.nickname-input button {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #4285F4;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nickname-input button:hover {
  background-color: #3367D6;
}

/* アニメーション */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  display: inline-block;
  font-size: 3rem;
  animation: slideIn 1.5s ease-out;
  color: #333;
  font-weight: bold;
  overflow: hidden;
}
