body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: Arial, sans-serif;
}

/* ヘッダーを固定し、最上部に表示 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

.header {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.header li {
    margin: 0 20px;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header a:hover {
    background-color: #555;
}

canvas {
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* チュートリアルモーダル */
#tutorialModal {
    display: none; /* 初期状態は非表示 */
    position: fixed; /* 画面全体に対して固定 */
    top: 50%; /* 縦方向の中央に配置 */
    left: 50%; /* 横方向の中央に配置 */
    transform: translate(-50%, -50%); /* 正確に中央に配置するためのトランスフォーム */
    z-index: 1000; /* 他の要素よりも前面に表示するための指定 */
    background-color: white; /* モーダルの背景色 */
    padding: 20px; /* パディングの設定 */
    border-radius: 10px; /* 角を丸くする */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* モーダルに影をつける */
}


.modal-content {
    background-color: #333;
    border: 2px solid #888;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button.difficulty-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button.difficulty-button:hover {
    background-color: #ccc;
}