body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: Arial, sans-serif;
    text-align: center; /* 子要素を中央に揃える */
}

/* ヘッダーのスタイル */
header {
    padding: 0;
    position: relative;
    z-index: 5; /* モーダルより下に表示されないように z-index を設定 */
}

.header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.header li {
    margin: 0 20px;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px; 
    padding-left: 15px;
    padding-right: 15px; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header a:hover {
    background-color: #555;
}
/*ゲーム画面*/
#canvas {
    /* キャンバス要素のスタイル設定 */
    display: block; /* キャンバスをブロック要素として表示 */
    margin: 40px auto; /* 上に40pxのマージンを設定し、左右のマージンを自動で中央揃え */
    background-color: black; /* キャンバスの背景色を黒に設定 */
    max-width: 90%; /* キャンバスの最大幅を画面幅の90%に制限 */
    max-height: 70vh; /* キャンバスの最大高さをビューポート高さの70%に制限 */
    box-sizing: border-box; /* パディングとボーダーを含めて要素のサイズを計算 */
    width: 500px; /* キャンバスの幅を500pxに設定 */
    height: 500px; /* キャンバスの高さを500pxに設定 */
}



/* モーダルウィンドウのスタイル */
.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #333;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

/* ボタンのスタイル */
#retryButton, #returnButton, #startButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#retryButton:hover, #returnButton:hover, #startButton:hover {
    background-color: #ccc;
}