body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}
h1 {
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 30px;
}
.role {
    margin: 20px 0;
    font-size: 1.5rem;
}
.name {
    font-size: 2rem;
    font-weight: bold;
    color: #34495e;
}